Body{
    background: linear-gradient(to bottom, #3e848c 21%, #c2edf2 86%);
} 
p.hometown { 
  font-family: "Times New Roman",Times, serif;
}
h1.hometown-1{
  font-family: "Georgia", serif;
  text-align: center;
}
h2.hometown-4{
  font-family: "Georgia", serif;
  text-align: center;
}
h3.hometown-7{
  font-family: "Georgia", serif;
}
a:hover { 
  background-color: gray;
}
.parent{
  display:grid;
  grid-template-columns:repeat(4, 1fr);
  grid-gap:1em;
}
.hometown-5{
  background:white;
}
.hometown-7{
  background:white;
}
.hometown-6{
  background:white;
}  
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  height: 900px;
}
p.hometown-2{
   text-align: center;  
}
div {
  border: 1px black;
  padding-top: 50px;
  padding-right: 20px;
  padding-left: 180px;
}
p.hometown-3{
  text-align: center;   
}
